<div class="details">
    <img class="avatar" src="{{img}}" data-edit="img" title="{{name}}"/>
    <div class="details-name text-input">
        <label>Name:</label>
        <input name="name" type="text" value="{{name}}" placeholder="" />
    </div>
    <div class="details-player text-input">
        <label>Player:</label>
        <input name="system.player" type="text" value="{{system.player}}" placeholder="" />
    </div>
    <div class="details-description text-input">
        <label>Archetype:</label>
        <input name="system.archetype" type="text" value="{{system.archetype}}" placeholder="" />
    </div>
    <div class="details-level text-input">
        <label>Level:</label>
        <label>{{system.level}}</label>
    </div>
    <div class="details-chroma-points text-input">
        <span>
        <label>Chroma Points:
        {{system.trackers.chroma.spent}} / <input name="system.trackers.chroma.points" type="number" value="{{system.trackers.chroma.points}}" placeholder="0" /></label>
        </span>
    </div>
    <div class="details-wealth text-input">
        <label>Funds:</label>
        <input name="system.funds" type="number" value="{{system.funds}}" placeholder="2" />
    </div>
    <div class="details-roll-initiative text-input">
        <label class="forceful">
            <a class="init-rollable" title="Roll">
                <i class="fas fa-dice-d20"></i>
            </a>InitMod:
        </label>
        <input name="system.initiative_mod" type="number" value="{{system.initiative_mod}}" placeholder="0" />
    </div>
    <div class="details-trait-points text-input">
        <label>Trait Points:</label>
        <label>{{system.trackers.traits.spent}} / {{system.trackers.traits.points}}</label>
    </div>
    <div class="details-feat-points text-input">
        <label>Feat Points:</label>
        <label>{{system.trackers.feats.spent}} / {{system.trackers.feats.points}}</label>
    </div>
    <div class="details-perks-points text-input">
        <label>Perks Slots:</label>
        <label>{{system.trackers.perks.spent}} / {{system.trackers.perks.points}}</label>
    </div>
    <div class="details-legend-points text-input">
        <label>Vigor:</label>
        <input name="system.vigor" type="number" value="{{system.vigor}}" placeholder="1" />
    </div>
    <div class="details-speed text-input">
        <label>Speed:</label>
        <input name="system.speed" type="number" value="{{system.speed}}" placeholder="30" />
    </div>
</div>