<div class="aligned gear-row armor-row">
    <div class="armor-name clickable item-edit {{#if armor.system.equipped}}equipped{{/if}}" data-item="{{armor._id}}">{{armor.name}}</div>
    <div class="gear-summary">
        <div class="gear-title">{{armor.type}}</div>
        <div class="gear-type">{{armor.system.type}}</div>
    </div>
    <div class="armor-properties">
        <span class="forceful">RD: </span>{{armor.system.r_defense}}</div>
    <div class="armor-properties">
        <span class="forceful">FD: </span>{{armor.system.f_defense}}</div>
    <div class="armor-properties">
        <span class="forceful">WD: </span>{{armor.system.w_defense}}</div>
    <div class="armor-properties">
        <span class="forceful">Req End: </span>{{armor.system.req_end}}</div>
    <div class="armor-properties">
        <span class="forceful">Spd Pen: </span>{{armor.system.speed_penalty}}</div>
    <div class="gear-wl">
        <span class="forceful">Funds: </span>{{armor.system.gear.funds}}</div>
    <div class="gear-buttons">
        <a class="gear-control gear-move-up" title="Move" data-item="{{armor._id}}"><i class="fas fa-arrow-up"></i></a>
        <a class="gear-control item-delete" title="Delete" data-item="{{armor._id}}"><i class="fas fa-trash"></i></a>
    </div>
</div>