<form class="{{cssClass}} flexcol" autocomplete="off">
  <div class="main-grid">
    {{> "systems/chromaverse/templates/actor/parts/actor-details.html"}}
    {{> "systems/chromaverse/templates/actor/parts/actor-traits.html"}}
    {{> "systems/chromaverse/templates/actor/parts/actor-defense.html"}}
    {{> "systems/chromaverse/templates/actor/parts/actor-actions.html"}}
    <div class="character">
      <div class="gear">
        <div class="title">
          Gear
          <span class="button add-asset clickable" data-type="generic"><i class="fas fa-plus"></i> Generic</span>
          <span class="button add-asset clickable" data-type="armor"><i class="fas fa-plus"></i> Armor</span>
          <span class="button add-asset clickable" data-type="weapon"><i class="fas fa-plus"></i> Weapon</span>
          <span class="button add-asset clickable" data-type="focus"><i class="fas fa-plus"></i> Focus</span>
        </div>
        {{#each gear as |item|}}
          {{#ifeq item.type 'weapon'}}
            {{> "systems/chromaverse/templates/actor/parts/gear-weapon.html" weapon=item}}
          {{/ifeq}}
          {{#ifeq item.type 'armor'}}
            {{> "systems/chromaverse/templates/actor/parts/gear-armor.html" armor=item}}
          {{/ifeq}}
          {{#ifeq item.type 'generic'}}
            {{> "systems/chromaverse/templates/actor/parts/gear-generic.html" item=item}}
          {{/ifeq}}
          {{#ifeq item.type 'focus'}}
            {{> "systems/chromaverse/templates/actor/parts/gear-focus.html" item=item}}
          {{/ifeq}}
        {{/each}}
      </div>
      <div class="feats">
        <div class="title">
          Feats
          <span class="button add-asset clickable" data-type="feat"><i class="fas fa-plus"></i> Feat</span>
        </div>
        {{#each feats as |item|}}
          {{> "systems/chromaverse/templates/actor/parts/gear-feat.html" feat=item}}
        {{/each}}
      </div>
      <div class="perks">
        <div class="title">
          Perks
          <span class="button add-asset clickable" data-type="perk"><i class="fas fa-plus"></i> Perk</span>
        </div>
        {{#each perk as |item|}}
          {{> "systems/chromaverse/templates/actor/parts/gear-perk.html" perk=item}}
        {{/each}}
      </div>
      <div class="personality">
        <div class="title">
          Personality
        </div>
        <label>Attitude:</label>
        <textarea name="system.personality.attitude" placeholder="">{{system.personality.attitude}}</textarea>
        <label>Beliefs:</label>
        <textarea name="system.personality.beliefs" placeholder="">{{system.personality.beliefs}}</textarea>
        <label>Connections:</label>
        <textarea name="system.personality.connections" placeholder="">{{system.personality.connections}}</textarea>
        <label>Drive:</label>
        <textarea name="system.personality.drive" placeholder="">{{system.personality.drive}}</textarea>
      </div>
    </div>
    <div class="pc-notes">
      <div class="notes-title">Notes</div>
      {{{editor system.notes target="system.notes" button=true owner=owner editable=editable}}}
    </div>
  </div>
</form>