<li class="action-attack" data-item="{{_id}}">
    <select class="attack-trait">
        {{#each traits as |val trait|}}
            <option value="{{trait}}" {{#ifeq trait ../attack.trait}} selected{{/ifeq}}>{{trait}}</option>
        {{/each}}
    </select>
    <span>vs</span>
    <select class="attack-target">
        <option {{#ifeq 'Reflex' attack.target}} selected{{/ifeq}}>Reflex</option>
        <option {{#ifeq 'Fortitude' attack.target}} selected{{/ifeq}}>Fortitude</option>
        <option {{#ifeq 'Will' attack.target}} selected{{/ifeq}}>Will</option>
    </select>
    <a class="item-control attack-delete" title="Delete"><i class="fas fa-trash"></i></a>
</li>