<form class="{{cssClass}} item-sheet" autocomplete="off">
    <header class="header flexrow">
        <img class="item-img" src="{{img}}" data-edit="img" title="{{name}}"/>
        <div class="header-details">
            <div class="flexrow">
                <h1 class="item-name">
                    <input name="name" type="text" value="{{name}}" placeholder="Name"/>
                </h1>

                <div class="item-subtitle">
                    <h4 class="item-type">{{type}}</h4>
                    <span class="scale-tester" hidden></span>
                    <input class="item-status scale" name="system.type"
                            type="text" value="{{system.type}}" placeholder="Type"/>
                </div>
            </div>
            <ul class="summary flexrow">
                <li class="flexrow">Reflex Defense:
                    <input type="number" name="system.r_defense" value="{{system.r_defense}}" placeholder="?"/></li>
                <li class="flexrow">Fortitude Defense:
                    <input type="number" name="system.f_defense" value="{{system.f_defense}}" placeholder="?"/></li>
                <li class="flexrow">Will Defense:
                    <input type="number" name="system.w_defense" value="{{system.w_defense}}" placeholder="?"/></li>
            </ul>
            <ul class="summary flexrow">
                <li class="flexrow">Req End:
                    <input type="number" name="system.req_end" value="{{system.req_end}}" placeholder="?"/></li>
                <li class="flexrow">Speed Pen:
                    <input type="text" name="system.speed_penalty" value="{{system.speed_penalty}}" placeholder="?"/></li>
                <li class="shrink">Funds:
                    <input class="wl" type="text" name="system.gear.funds" value="{{system.gear.funds}}" placeholder="?"/></li>
            </ul>
        </div>
    </header>

    <section class="sheet-body armor">
        <div class="description-editor">
            <div class="flexrow aligned">
                <span class="forceful shrink">Equipped:</span>
                <input type="checkbox" name="system.equipped" {{#if system.equipped}}checked{{/if}}/>
            </div>
            {{editor system.details.description target="system.details.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>
